<template>
  <transition name="fade">
    <div
    class="wrap__scrollTop"
    v-bind:style="`
    ${this.locationX}:${this.dataX}px;
    ${this.locationY}:${this.dataY}px;`"
    v-show="isVisible">
      <button
      type="button"
      class="button__scrollTop"
      @click="scrollToTop">
        <span>
          {{ this.text }}
        </span>
      </button>
    </div>
  </transition>
</template>

<script>
import { requestAnimationFrame } from 'request-animation-frame-polyfill';

export default {
  name: 'ScrollTop',
  props: {
    text: {
      type: String,
      default: 'Scroll Page to Top',
    },
    locationX: {
      type: String,
      default: 'right',
    },
    locationY: {
      type: String,
      default: 'bottom',
    },
    dataX: {
      type: [String, Number],
      default: 80,
    },
    dataY: {
      type: [String, Number],
      default: 80,
    },
  },
  data() {
    return {
      isVisible: false,
    };
  },
  mounted() {
    window.smoothscroll = () => {
      requestAnimationFrame(window.smoothscroll);
      window.scrollTo(0, 0);
    };
    window.addEventListener('scroll', this.catchScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.catchScroll);
  },
  methods: {
    catchScroll() {
      const visibleOffset = 600;
      this.isVisible = window.pageYOffset > visibleOffset;
    },
    scrollToTop() {
      window.smoothscroll();
    },
  },
};
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s ease-in-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.wrap__scrollTop {
  position: fixed;
  z-index: 1000;
}

.button__scrollTop {
  display: block;
  height: 30px;
  line-height: 30px;
  border-width: 0;
  border-style: none;
  border-color: transparent;
  background-color: #999;
  text-align: center;
  cursor: pointer;
}

.button__scrollTop span{
  color:#ffffff;
}
</style>
